/* header styles */
.section {
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .section {
    padding-bottom: 64px;
  }
}

.header {
  background-color: #f4f4f4;
  color: #fff;
  padding: 32px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  cursor: pointer;
  align-self: center;
}

.social-media {
  list-style: none;
  display: flex;
  gap: 12px;
  color: #242424;
}
@media screen and (max-width: 767px) {
  .social-media {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .social-media svg {
    width: 44px;
    height: 44px;
    fill: #242424;
    cursor: pointer;
    gap: 12px;
  }
}
.toggle-buttons {
  width: 233px;
  height: 52px;
  font-size: 16px;
  background-color: #242424;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 14px;
  gap: 18px;
}

@media screen and (min-width: 768px) {
  .toggle-buttons {
    width: 265px;
    height: 52px;
  }
}

.toggle-buttons button {
  width: 74px;
  height: 36px;
  background-color: #f4f4f4;
  border-radius: 30px;
  font-family: DM Sans, sans-serif;
  font-size: 16px;
  color: #242424;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .toggle-buttons {
    display: none;
  }
}
.toggle-buttons button.active {
  background-color: #242424;
  color: #f4f4f4;
}
.icon {
  color: #242424;
  top: 20px;
  right: 20px;
  font-size: 24px;
  z-index: 1000;
  display: block;
}
@media screen and (min-width: 768px) {
  .icon {
    display: none;
  }
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
