/* header styles */

.toggle-buttons {
  width: 233px;
  height: 52px;
  font-size: 16px;
  background-color: #242424;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 14px;
  gap: 18px;
}

.toggle-buttons a {
  width: 70px;
  height: 36px;
  font-size: 16px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.toggle-buttons a {
  background-color: #f4f4f4;
  color: #242424;
}

.toggle-buttons a.active {
  background-color: #242424;
  color: #fff;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 320px;
  padding: 20px 20px 80px 20px;
  margin: 0 auto;
  background-color: #f4f4f4;
}

@media screen and (min-width: 375px) {
  .header-container {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    width: 768px;
    padding: 24px 32px 100px 32px;
  }
}

@media screen and (min-width: 1280px) {
  .header-container {
    padding: 28px 32px 96px 32px;
  }
}

@media screen and (max-width: 767px) {
  .header__nav {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (max-width: 767px) {
  .header__socials-list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__socials-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
  }
}

.header__socials-item {
  width: 44px;
  height: 44px;
  fill: #f4f4f4;
}

.header__socials-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-open__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 768px) {
  .menu-open__button {
    display: none;
  }
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  width: 64vw;
  height: 100%;
  padding: 20px;
  background-color: #242424;
  z-index: 999;
  transform: translateX(100%);
}

@media screen and (min-width: 768px) {
  .menu-container {
    width: 100vw;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-close__button {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 32px;
  height: 32px;
  outline: transparent;
  background-color: transparent;
  border: none;
}

.menu__nav-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  margin-top: 280px;
}

.menu__nav-link {
  position: relative;
  color: #f4f4f4;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.15; /* 150% */
}

.menu__socials-list {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 0 auto;
}

.menu__socials-item {
  width: 44px;
  height: 44px;
  fill: #f4f4f4;
}

.menu__socials-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

body.no-scroll {
  overflow: hidden;
}

.backdrop {
  position: fixed;
  min-width: 320px;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(18, 20, 23, 0.4);
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
