/* exercises styles */

.exersices__container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .exersices__container {
    row-gap: 32px;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .exersices__container {
    flex-direction: row;
    row-gap: 0;
    justify-content: space-between;
  }
}

/* Exersise Cards */

.exersices__list {
  display: flex;
  gap: 20px;
  align-items: center;
}

.exersices__title {
  /* font-family: DMSans-Regular; */
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.3em;
  letter-spacing: -0.56px;
  color: var(--color-black);
}
@media screen and (min-width: 768px) {
  .exersices__title {
    font-size: 44px;
    line-height: 1.1em;
    letter-spacing: -0.88px;
  }
}

.exercises__btn.active {
  position: relative;
  padding: 0 0 4px;

  /* font-family: DMSans-Regular; */
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4em;
  border: none;
  background-color: transparent;
  color: var(--color-black);
}

@media screen and (min-width: 768px) {
  .exercises__btn.active {
    font-size: 16px;
    line-height: 1.5em;
  }
}

.exercises__btn.active::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -3px;
  border-radius: 2px;
  background-color: var(--color-black);
}

.exercises__btn:not(.active) {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4em;
  padding: 0 0 4px;
  border: none;
  background-color: transparent;
  color: rgba(36, 36, 36, 0.6);
}

@media screen and (min-width: 768px) {
  .exercises__btn:not(.active) {
    font-size: 16px;
    line-height: 24px;
  }
}

.quote-filters__container {
  display: flex;
  flex-direction: column;
}

.quote-filters__container .quote__container {
  order: 2;
}

.quote-filters__container .filters__container {
  order: 1;
}

@media screen and (min-width: 1440px) {
  .quote-filters__container {
    flex-direction: row;
    justify-content: space-between;
  }

  .quote-filters__container .quote__container {
    order: 1;
  }

  .quote-filters__container .filters__container {
    order: 2;
  }
}

.filters__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .filters__list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 32px;
    justify-content: space-between;
    padding-bottom: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .filters__list {
    width: 900px;
  }
}
.filters__item {
  width: 100%;
  position: relative;
}

@media screen and (min-width: 768px) {
  .filters__item {
    width: calc((100% - 2 * 15px) / 3);
  }
}

.filters__img-first {
  width: 100%;
  filter: brightness(0.5);
  border-radius: 12px;
}

.filters__wrapper-first {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.filters__title-first {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1em;
  text-align: center;
  color: var(--color-white);
}

@media screen and (min-width: 768px) {
  .filters__title-first {
    font-size: 24px;
    line-height: 24px;
  }
}

.filters__text-first {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5em;
  text-align: center;
  color: rgba(244, 244, 244, 0.4);
}

.quote__container {
  width: 100%;
  border: 1px solid red;
}

@media screen and (min-width: 1440px) {
  .quote__container {
    width: 444px;
  }
}
/* vad */
.quote__block {
  position: relative;
}

.quote__running {
  border-radius: 50%;
  background-color: rgba(244, 244, 244, 0.2);
  position: absolute;
  top: 20px;
  left: 20px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .quote__running {
    top: 40px;
    left: 40px;
  }
}

.quote__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.quote__container {
  width: 243px;
  height: 169px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #242424;
  padding: 20px 20px 20px 72px;
}

@media screen and (min-width: 768px) {
  .quote__container {
    width: 268px;
    padding: 40px 40px 40px 90px;
  }
}

@media screen and (min-width: 1158px) {
  .quote__container {
    width: 312px;
    height: 162px;
  }
}

.quote__svg-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .quote__svg-title {
    margin-bottom: 6px;
  }
}

.quote__title {
  color: #F4F4F4;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

@media screen and (min-width: 768px) {
  .quote__title {
    font-size: 24px;
    line-height: 32px;
  }
}

.running__icon {
  fill: #F4F4F4;
}

.commas__icon {
  fill: #F4F4F4;
}

.quote__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  height: 141px;
}

.quote__text {
  color: rgba(244, 244, 244, 0.60);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.quote__author {
  color: #F4F4F4;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

@media screen and (min-width: 768px) {
  .quote__author {
    font-size: 16px;
    line-height: 24px;
  }
}

.quote__image {
  border-radius: 20px;
}

@media screen and (min-width: 768px) {
  .quote__image {
    width: 288px;
    height: 258px;
    content: url('../img/exercise-image-tablet.jpg');
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .quote__image {
      width: 288px;
      height: 258px;
      content: url('../img/exercise-image-tablet@2x.jpg');
    }
  }
}

@media screen and (min-width: 1158px) {
  .quote__image {
    width: 444px;
    height: 242px;
    content: url('../img/exercise-image-desktop.jpg');
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .quote__image {
      width: 444px;
      height: 242px;
      content: url('../img/exercise-image-desktop@2x.jpg');
    }
  }
}

.news__block {
  position: relative;
}

.quote__news {
  width: 243px;
  height: 161px;
  flex-shrink: 0;
  border-radius: 20px;
  padding: 20px 20px 20px 72px;
  background: #FFF;
}

@media screen and (min-width: 768px) {
  .quote__news {
    width: 268px;
    height: 168px;
    padding: 40px 40px 40px 90px;
  }
}

@media screen and (min-width: 1158px) {
  .quote__news {
    width: 312px;
    height: 234px;
  }
}

.icon__news {
  border-radius: 50%;
  background-color: #242424;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .icon__news {
    top: 40px;
    left: 40px;
  }
}

.filled__icon {
  fill: #F4F4F4;
}

.news__title {
  color: #242424;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 2px;
}

@media screen and (min-width: 768px) {
  .news__title {
    font-size: 24px;
    line-height: 32px;
  }
}

.news__subtitle {
  color: rgba(36, 36, 36, 0.60);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .news__subtitle {
    margin-bottom: 20px;
  }
}

.news__text {
  overflow: hidden;
  color: #242424;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  height: 105px;
  width: 245px;
}

@media screen and (min-width: 768px) {
  .news__text {
    height: 97px;
    width: 270px;
  }
}

@media screen and (min-width: 1158px) {
  .news__text {
    height: 163px;
    width: 314px;
    white-space: normal;
  }
}