.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  background: rgba(4, 4, 4, 0.4);
}

.hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .modal-exercises__container {
    display: flex;
    gap: 32px;
  }
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

.modal-exercises {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  overflow: auto;
  max-height: 80vh;
  padding: 40px 20px;
  border-radius: 20px;
  background-color: var(--color-black);
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 375px) {
  .modal-exercises {
    max-width: 80vw;
  }
}

@media screen and (min-width: 375px) {
  .modal-exercises {
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .modal-exercises {
    padding: 32px;
  }
}

@media screen and (min-width: 768px) {
  .modal-exercises {
    width: 708px;
  }
}

.modal-exercises__btn-close {
  position: absolute;
  top: 14px;
  right: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  stroke: var(--color-white);
  background-color: rgba(0, 0, 0, 0);
  border: none;
  transition: all var(--transition-dur-and-func);
}

@media screen and (min-width: 768px) {
  .modal-exercises__btn-close {
    top: 16px;
    right: 16px;
  }
}

.modal-exercises__btn-close:hover {
  transform: rotate(270deg);
}

.modal-exercises__img {
  width: 100%;
  height: 258px;
  margin-bottom: 20px;
  border-radius: 12px;
  filter: brightness(0.9);
}

@media screen and (min-width: 768px) {
  .modal-exercises__img {
    width: 270px;
    height: 259px;
    margin-bottom: 0;
  }
}

.modal-exercises__name {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  text-transform: none;
  color: var(--color-white);
}

@media screen and (min-width: 768px) {
  .modal-exercises__name {
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 1.33;
  }
}

.modal-exercises__name::first-letter {
  text-transform: uppercase;
}

.modal-exercises__rating {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.5;
  color: var(--color-white);
}

@media screen and (min-width: 768px) {
  .modal-exercises__rating {
    margin-bottom: 24px;
  }
}

.modal-exercises__block {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .modal-exercises__block {
    margin-bottom: 64px;
  }
}

.modal-exercises__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .modal-exercises__list {
    gap: 16px;
    margin-bottom: 24px;
  }
}

.modal-exercises__list::before,
.modal-exercises__list::after {
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: rgba(244, 244, 244, 0.2);
  content: '';
}

.modal-exercises__list::before {
  top: -10px;
  left: 0;
}

.modal-exercises__list::after {
  bottom: -10px;
  left: 0;
}

@media screen and (min-width: 768px) {
  .modal-exercises__list::before {
    top: -8px;
  }
  .modal-exercises__list::after {
    bottom: -8px;
  }
}

.modal-exercises__subtitle {
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(244, 244, 244, 0.4);
}

.modal-exercises__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  color: var(--color-white);
}

.modal-exercises__text::first-letter {
  text-transform: uppercase;
}

.modal-exercises__description {
  font-size: 14px;
  line-height: 1.28;
  color: rgba(244, 244, 244, 0.6);
}

.modal-exercises__btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

@media screen and (min-width: 768px) {
  .modal-exercises__btn-container {
    flex-direction: row;
    justify-content: end;
    gap: 7px;
  }
}

.modal-exercises__btn {
  padding: 12px 19px;
  font-size: 14px;
  line-height: 1.28;
  border-radius: 30px;
}

@media screen and (max-width: 767px) {
  .modal-exercises__btn {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .modal-exercises__btn {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .modal-exercises__btn {
    padding: 12px 24px;
    font-size: 16px;
    line-height: 1.5;
  }
}

.modal-exercises__btn-favorites {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 1px solid var(--color-white);
  background-color: var(--color-white);
  color: var(--color-black);
  transition: all var(--transition-dur-and-func);
}

.btn-favorites__icon {
  stroke: var(--color-black);
  fill: var(--color-white);
  width: 18px;
  height: 18px;
  transition: all var(--transition-dur-and-func);
}

@media screen and (min-width: 768px) {
  .btn-favorites__icon {
    width: 20px;
    height: 20px;
  }
}

.modal-exercises__btn-rating {
  border: 1px solid var(--color-white);
  background-color: transparent;
  color: var(--color-white);
  transition: all var(--transition-dur-and-func);
}

@media screen and (min-width: 768px) {
  .modal-exercises__btn-rating {
    padding-left: 22px;
    padding-right: 22px;
  }
}

.modal-exercises__btn-favorites:hover {
  background-color: var(--color-black);
  color: white;
}

.modal-exercises__btn-favorites:hover .btn-favorites__icon {
  fill: var(--color-black);
  stroke: var(--color-white);
}

.modal-exercises__btn-rating:hover {
  background-color: var(--color-white);
  color: var(--color-black);
}
