<!-- header -->
<section>
  <header class="header">
    <div class="logo" id="logo">YOUR ENERGY</div>
    <nav>
      <div class="toggle-buttons" id="toggleButtons">
        <button id="homeButton" class="active js-open-home">Home</button>
        <button id="favoritesButton" class="js-open-favorites">
          Favorites
        </button>
      </div>
    </nav>
    <div class="burger-menu" id="burgerMenu">☰</div>
    <ul class="social-media" id="socialMedia">
      <li>
        <a href="https://www.facebook.com/goITclub/" target="_blank"
          ><svg>+</svg></a
        >
      </li>
      <li>
        <a href="https://www.instagram.com/goitclub/" target="_blank"
          ><svg>+</svg></a
        >
      </li>
      <li>
        <a href="https://www.youtube.com/c/GoIT" target="_blank"
          ><svg>+</svg></a
        >
      </li>
    </ul>
  </header>
</section>
