<div class="container">
  <div class="header-container" id="header__top">
    <a class="header__logo" href="./index.html">
      <svg width="132" height="24">
        <use href="./img/sprite.svg#icon-Logo"></use>
      </svg>
      <span class="header__logo-text">Your Energy</span>
    </a>
    <nav class="header__nav">
      <a id="homeButton" class="nav-btn" href="./index.html">Home</a>
      <a id="favoritesButton" class="nav-btn" href="./favorites.html"
        >Favorites</a
      >
    </nav>

    <ul class="header__socials-list">
      <li class="header__socials-item">
        <a
          href="https://www.facebook.com/goITclub/"
          class="header__socials-link"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="facebook icon"
        >
          <svg class="header__socials-icon" width="7" height="17">
            <use href="./img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="header__socials-item">
        <a
          href="https://www.instagram.com/goitclub/"
          class="header__socials-link"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="instagram icon"
        >
          <svg class="header__socials-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header__socials-item">
        <a
          href="https://www.youtube.com/c/GoIT"
          class="header__socials-link"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="youtube icon"
        >
          <svg class="header__socials-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button
      class="menu-open__button js-open-menu"
      type="button"
      aria-expanded="false"
      aria-controls="mobile-menu"
      data-menu-open-btn
    >
      <svg
        class="menu-open__icon"
        width="32"
        height="32"
        stroke="var(--color-black)"
        aria-controls="mobile-menu"
        aria-expanded="false"
        role="img"
      >
        <use
          class="menu-open__use"
          href="./img/sprite.svg#icon-align-justify"
        ></use>
      </svg>
      <span class="burger-btn">burger</span>
    </button>
  </div>
</div>

<!-- Mobile Menu container -->
<div class="backdrop is-hidden" data-menu-backdrop>
  <div class="menu-container js-menu-container" id="mobile-menu">
    <button
      type="button"
      class="menu-close__button js-close-menu"
      data-menu-close-btn
    >
      <svg class="menu-close__icon" width="32" height="32">
        <use href="./sprite.svg#icon-x-close"></use>
      </svg>
    </button>

    <!-- Mobile Menu Navigation  -->

    <nav class="menu__nav">
      <ul class="menu__nav-list">
        <li class="menu__nav-item">
          <a class="menu__nav-link" href="./index.html">Home</a>
        </li>
        <li class="menu__nav-item">
          <a class="menu__nav-link" href="./favorites.html">Favorites</a>
        </li>
      </ul>
    </nav>

    <ul class="menu__socials-list">
      <li class="menu__socials-item">
        <a
          class="menu__socials-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="facebook icon"
        >
          <svg class="menu__socials-icon" width="7" height="17">
            <use href="./img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="menu__socials-item">
        <a
          class="menu__socials-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="instagram icon"
        >
          <svg class="menu__socials-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>

      <li class="menu__socials-item">
        <a
          class="menu__socials-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="youtube icon"
        >
          <svg class="menu__socials-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
