<!-- hero -->
<section class="section">
  <div class="container">
    <div class="hero">
      <div class="hero__icon-title">
        <svg id="mySVG" class="hero__icon" width="38" height="38">
          <use href="./img/sprite.svg#icon-sun"></use>
        </svg>
        <h1 class="hero__title">
          Get <span class="hero__title-part">Body</span> in <br />shape, Stay
          healthy
        </h1>
        <img
          class="hero__pic"
          src="./img/hero-image-small-desktop.jpg"
          srcset="./img/hero-image-small-desktop@2x.jpg 2x"
          alt="young women doing fitness outdoors together"
          width="765"
          height="509"
        />
      </div>
      <p class="hero__subtitle">
        Transform your physique and embrace a healthier lifestyle with our
        comprehensive fitness and nutrition support.
      </p>

      <picture class="hero__image">
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/hero-image-mobile.jpg    1x,
            ./img/hero-image-mobile@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px) and (max-width: 1439px)"
          srcset="
            ./img/hero-image-tablet.jpg    1x,
            ./img/hero-image-tablet@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./img/hero-image-desktop.jpg    1x,
            ./img/hero-image-desktop@2x.jpg 2x
          "
        />
        <img
          src="./img/hero-image-mobile.jpg"
          alt="women sportswear working out outdoors"
        />
      </picture>
      <ul class="hero__hashtags">
        <li class="hero__hashtag">
          <a
            class="hero__hashtag-text"
            href="https://www.instagram.com/explore/tags/sport/"
            target="_blank"
            >#Sport</a
          >
        </li>
        <li class="hero__hashtag">
          <a
            class="hero__hashtag-text"
            href="https://www.instagram.com/explore/tags/healthy/"
            target="_blank"
            >#Healthy</a
          >
        </li>
        <li class="hero__hashtag">
          <a
            class="hero__hashtag-text"
            href="https://www.instagram.com/explore/tags/workout/"
            target="_blank"
            >#Workout</a
          >
        </li>
        <li class="hero__hashtag">
          <a
            class="hero__hashtag-text"
            href="https://www.instagram.com/explore/tags/diet/"
            target="_blank"
            >#Diet</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
