<!-- exercises -->
<section class="section">
  <div class="exersices__container container">
    <h2 class="exersices__title">
      Exercises<span class="exersices__span hidden"><span>&sol;</span></span>
      <a class="exersices__text hidden"></a>
    </h2>
    <div class="exersices__search-btn-wrap">
      <form class="search__form hidden">
        <input class="search__input" type="text" placeholder="Search" />
        <button class="search__button" type="button">
          <svg class="search__icon" width="18" height="18">
            <use href="./img/sprite.svg#icon-search"></use>
          </svg>
        </button>
      </form>
      <ul class="exersices__list">
        <li>
          <button class="exercises__btn btnFilters active" type="button">
            Muscles
          </button>
        </li>
        <li>
          <button class="exercises__btn btnFilters" type="button">
            Body parts
          </button>
        </li>
        <li>
          <button class="exercises__btn btnFilters" type="button">
            Equipment
          </button>
        </li>
      </ul>
    </div>
  </div>

  <div class="quote-filters__container container">
    <div class="aside__container">
      <ul class="aside__container-list">
        <li>
          <div class="quote__container">
            <div class="aside-svg__circle">
              <svg class="aside__svg" width="20" height="20">
                <use href="./img/sprite.svg#icon-pedastrian"></use>
              </svg>
            </div>
            <h3 class="quote__title">Quote of the day</h3>
            <svg class="aside__commas-svg">
              <use href="./img/sprite.svg#icon-inverted-commas"></use>
            </svg>
            <div class="aside-quote__wrapper js-quote"></div>
          </div>
        </li>
        <li class="aside__nail">
          <div class="aside__img"></div>
          <div class="bmi__link-block">
            <a href="../partials/11-modal-bmi.html" class="bmi__link">BMI</a>
            <p class="bmi__span">Calculator</p>
          </div>
        </li>
        <li>
          <div class="aside__white-card">
            <div class="white-card-svg__wrapper">
              <svg class="aside__white-card-svg" width="20" height="20">
                <use href="./img/sprite.svg#icon-gym"></use>
              </svg>
            </div>

            <h3 class="aside__white-card-title">110 min</h3>
            <h4 class="aside__white-card-subtitle">Daily norm of sports</h4>
            <p class="aside__white-card-text">
              The World Health Organization recommends at least 150 minutes of
              moderate-intensity aerobic physical activity throughout the week
              for adults aged 18-64. However, what happens if we adjust that
              number to 110 minutes every day? While it might seem like a high
              number to hit, dedicating 110 minutes daily to sporting activities
              may offer unparalleled benefits to physical health, mental
              well-being, and overall quality of life.
            </p>
          </div>
        </li>
      </ul>
    </div>

    <div class="filters__container">
      <ul class="filters__list js-list"></ul>
      <div id="pagination-numbers"></div>
    </div>
  </div>
</section>
