<!-- exercises -->
<section class="section">
  <div class="exersices__container container">
    <h2 class="exersices__title">Exercises</h2>
    <ul class="exersices__list">
      <li>
        <button class="exercises__btn btnFilters active" type="button">
          Muscles
        </button>
      </li>
      <li>
        <button class="exercises__btn btnFilters" type="button">
          Body parts
        </button>
      </li>
      <li>
        <button class="exercises__btn btnFilters" type="button">
          Equipment
        </button>
      </li>
    </ul>
  </div>

  <div class="quote-filters__container container">
    <!-- <div class="quote__container">
      <h3 class="quote__title">Quote of the day</h3>
      <div class="quote__wrapper js-quote"></div>
    </div> -->
    <div class="quote__section quote__container">
      <ul class="quote__list">
        <li class="quote__block">
          <div class="quote__container">
            <div class="quote__running">
              <svg
                class="running__icon"
                aria-label="running"
                width="18"
                height="20"
              >
                <use href="./img/sprite.svg#icon-running-stick-figure"></use>
              </svg>
            </div>

            <div class="quote__svg-title">
              <h3 class="quote__title">Quote of the day</h3>
              <svg
                class="commas__icon"
                aria-label="commas"
                width="20"
                height="20"
              >
                <use href="./img/sprite.svg#icon-inverted-commas"></use>
              </svg>
            </div>

            <div class="quote__wrapper js-quote"></div>
          </div>
        </li>
        <li>
          <img
            class="quote__image"
            srcset="./img/exercise-image-mobile@2x.jpg"
            src="./img/exercise-image-mobile.jpg"
            alt="photo"
            width="335"
            height="242"
          />
        </li>
        <li class="news__block">
          <div class="quote__news">
            <div class="icon__news">
              <svg
                class="filled__icon"
                aria-label="filled"
                width="16"
                height="12"
              >
                <use href="./img/sprite.svg#icon-food-24-filled"></use>
              </svg>
            </div>
            <h3 class="news__title">110 min</h3>
            <p class="news__subtitle">Daily norm of sports</p>
            <p class="news__text">
              The World Health Organization recommends at least 150 minutes of
              moderate-intensity aerobic physical activity throughout the week
              for adults aged 18-64. However, what happens if we adjust that
              number to 110 minutes every day? While it might seem like a high
              number to hit, dedicating 110 minutes daily to sporting activities
              may offer unparalleled benefits to physical health, mental
              well-being, and overall quality of life.
            </p>
          </div>
        </li>
      </ul>
    </div>

    <div class="filters__container">
      <ul class="filters__list js-list"></ul>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const buttons = document.querySelectorAll('.exercises__btn');

      buttons.forEach(button => {
        button.addEventListener('click', () => {
          buttons.forEach(btn => btn.classList.remove('active'));
          button.classList.add('active');
        });
      });
    });
  </script>
</section>
