<!-- exercises -->
<section class="section">
  <div class="exersices__container container">
    <h2 class="exersices__title">Exercises</h2>
    <form action="">
      <input class="exersices__input" type="text" />
      <button class="exersices__search" type="button">start</button>
    </form>

    <ul class="exersices__list">
      <li>
        <button class="exercises__btn btnFilters" type="button">Muscles</button>
      </li>
      <li>
        <button class="exercises__btn btnFilters" type="button">
          Body parts
        </button>
      </li>
      <li>
        <button class="exercises__btn btnFilters" type="button">
          Equipment
        </button>
      </li>
    </ul>
  </div>

  <div class="quote__container container">
    <h3 class="quote__title">Quote of the day</h3>
    <div class="quote__wrapper js-quote"></div>
  </div>

  <div class="filters__container container">
    <ul class="filters__list js-list"></ul>
  </div>
</section>
