<!-- footer -->
<div class="footer__background">
  <div class="footer__container container">
    <div class="footer__left-wrap">
      <a class="logo" id="logo" href="/index.html">
        <svg
          class="footer__logo logo"
          width="132"
          height="24"
          aria-label="scroll down icon"
        >
          <use href="./img/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="socials__list">
        <li>
          <a
            class="socials__link link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="facebook icon"
          >
            <svg
              class="socials__icon socials__icon-footer"
              width="7"
              height="17"
            >
              <use href="./img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="socials__link link"
            href="https://www.instagram.com/goitclub/"
            aria-label="instagram icon"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg
              class="socials__icon socials__icon-footer"
              width="24"
              height="24"
            >
              <use href="./img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="socials__link link"
            href="https://www.youtube.com/c/GoIT"
            aria-label="youtube icon"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg
              class="socials__icon socials__icon-footer"
              width="24"
              height="24"
            >
              <use href="./img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer__right-wrap">
      <h2 class="footer__title">
        Transforming your <span class="accent-text">body</span> shape with us
      </h2>
      <form class="subscribe__form" id="subscribeForm">
        <h3 class="subscribe__form-title">
          Subscribe and learn about new exercises!
        </h3>
        <input
          class="subscribe__form-input"
          type="email"
          name="email"
          placeholder="Email"
          required
        />
        <button class="subscribe__form-btn" type="submit" id="subscribeBtn">
          Send
        </button>
      </form>
    </div>
    <div class="footer__text-outer-wrap">
      <div>
        <p class="footer__text">Your Energy. All rights reserved.</p>
      </div>
      <div class="footer__text-inner-wrap">
        <p class="footer__text privacy-policy__text">
          <span>Privacy Policy</span><span>&sol;</span
          ><span>Terms of Service</span>
        </p>
        <a href="./07-modal-team.html" class="footer__link footer__text"
          >Our team</a
        >
        <p class="footer__text">©2023</p>
      </div>
    </div>
  </div>
</div>
