<!-- footer -->
<div class="footer__container container" id="">
  <div class="logo" id="logo">
    <svg
      class="footer__logo logo"
      width="132"
      height="24"
      aria-label="scroll down icon"
    >
      <use href="../img/sprite.svg#icon-logo"></use>
    </svg>
  </div>

  <ul>
    <li>
      <a
        class="socials__icon socials__icon-footer"
        href="https://www.facebook.com/goITclub/"
        width="28"
        heigh="28"
        aria-label=""
        target="_blank"
        rel="noopener noreferrer"
        aria-label="facebook icon"
      >
        <svg>
          <use href="../img/sprite.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li>
      <a
        class="socials__icon socials__icon-footer"
        href="https://www.instagram.com/goitclub/"
        width="28"
        heigh="28"
        aria-label="instagram icon"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg>
          <use href="../img/sprite.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li>
      <a
        class="socials__icon socials__icon-footer"
        href="https://www.youtube.com/c/GoIT"
        width="28"
        heigh="28"
        aria-label="youtube icon"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg>
          <use href="../img/sprite.svg#icon-youtube"></use>
        </svg>
      </a>
    </li>
  </ul>
  <h2 class="footer__title">Transforming your body shape with us</h2>

  <form class="subscribe__form">
    <h3 class="subscribe__title">Subscribe and learn about new exercises!</h3>
    <input
      class="subscribe__form-input"
      type="email"
      name="user-email"
      placeholder="Email"
    />

    <button class="subscribe__form-btn" type="submit" id="submitButton">
      Send
    </button>
  </form>
  <p>Your Energy. All rights reserved.</p>
  <p>Privacy Policy &sol; Terms of Service</p>

  <p>&#9400; 2023</p>
</div>
