<div class="is-hidden"></div>
<div class="rating-container">
  <a class="rating-close-btn">
    <svg class="rating-icon-close">
      <use href="./img/sprite.svg#icon-close-btn"></use>
    </svg>
  </a>

  <fieldset class="rating-fieldset">
    <legend class="rating-title">Rating</legend>

    <input class="rating-input" type="ratio" id="star1" name="rating" />
    <label class="rating-label" for="star1">
      <svg class="rating-star">
        <use href="./img/sprite.svg#icon-star"></use>
      </svg>
    </label>
    <input class="rating-input" type="ratio" id="star2" name="rating" />
    <label class="rating-label" for="star2">
      <svg class="rating-star">
        <use href="./img/sprite.svg#icon-star"></use>
      </svg>
    </label>
    <input class="rating-input" type="ratio" id="star3" name="rating" />
    <label class="rating-label" for="star3">
      <svg class="rating-star">
        <use href="./img/sprite.svg#icon-star"></use>
      </svg>
    </label>
    <input class="rating-input" type="ratio" id="star4" name="rating" />
    <label class="rating-label" for="star4">
      <svg class="rating-star">
        <use href="./img/sprite.svg#icon-star"></use>
      </svg>
    </label>
    <input class="rating-input" type="ratio" id="star5" name="rating" />
    <label class="rating-label" for="star5">
      <svg class="rating-star">
        <use href="./img/sprite.svg#icon-star"></use>
      </svg>
    </label>
  </fieldset>
  <form class="rating-form">
    <input
      class="rating-email"
      type="email"
      name="email"
      placeholder="Email"
      required
    />
    <textarea
      class="rating-comment"
      name="comment"
      placeholder="Your comment"
    ></textarea>
    <button class="rating-submit-btn" type="submit">Send</button>
  </form>
</div>
